:root{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}


.pinkText {
    color: #e91e63;
    font-size: 24px;
}

.success {
    text-decoration: none;
    background-color: #e91e63;
    padding: 10px 10px;
    border-radius: 27px;
    margin-left: 20%;
    position: relative;
    width: 240px;
    height: 60px;
    display: block;
    font-size: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;

}

.parllax {
    margin-top: 5vh;
    background: url('images/landing-image.JPG');
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    width: 100%;

    text-align: center;
    align-items: center;
    justify-content: center;

}

.divContainer {
    text-align: center;
}


.logo {
    position: relative;
    text-align: center;
    z-index: 1;
    top: 20%;

}


.b1{
    background-color: #f20f57;
    color: white;
    width: 300px;
    height: 50px;
    padding: 12px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 27px;
    margin-top: 10rem;
    transition: background-color 200ms ease;
    border: none;
}

.specialText {
    font-size: 24px;
    color: white;
}

.close{
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    float: left;
}

.close svg {
    color: rgb(163, 163, 163);
    transition: 200ms ease;

}

.close svg:hover {
    color: pink;
    cursor: pointer;
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 700px; /* Full width (cover the whole page) */
    height: 200px; /* Full height (cover the whole page) */
    margin-top: 300px;
    margin-left: 600px;
    background-color: rgb(0, 0, 0); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    word-wrap: break-word;
    text-align: center;
    opacity: 0.8;
  }

  #yourDIV {
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8);
    z-index: 2;
  }


.b1:hover{
    border: none;
    background-color: #CC0040;
    cursor: pointer;
}


.standardText {
    font-size: 20px;
}

main {
    margin-left:  5rem;
    padding: 1rem;
    word-wrap: break-word;
    margin: auto;
    width: 960px;
}

.navbar {
    width: 100%;
    height: 5vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: height 200ms ease;
    top: 0;
    z-index: 2;

}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
}

.nav-item {
    width: 75%;
    transition: height 200ms ease in ease-in-out forwards;
}

.nav-link {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale() opacity(0.7);
    transition: 400ms;
    overflow: hidden;
}


.link-text {
    margin-left: 0rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
 
}

.nav-link:hover {
    filter:grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    transition: width 200ms ease;
}

.navbar:hover {
    height: 8vh;
}

.nav-link:hover .link-text {
    display: inline-flexbox;
}

.fa-secondary {
    color: #E86ED2;
}

.fa-secondary {
    transition: 200ms;
}







